# roles/nat_conntrack/templates/conntrackd.conf.j2
General
{
    Syslog on
    LockFile /var/lib/conntrackd/lock

    UNIX
    {
        Path /var/run/conntrackd.ctl
    }
}

Sync
{
    Mode FTFW
    {
        DisableExternalCache on
    }

    UDP
    {
        IPv4_address {{ ct_local_ip }}
        IPv4_Destination_Address {{ ct_peer_ip }}
        Port 3780
        Interface {{ vlan_if }}
        Checksum on
    }

    Options
    {
        TCPWindowTracking on
    }
}
