vrrp_instance {{ vrrp_instance }} {
  state {{ hostvars[inventory_hostname].state | default('BACKUP') }}
  interface {{ vrrp_interface }}
  virtual_router_id {{ vrrp_router_id }}
  priority {{ hostvars[inventory_hostname].priority | default(100) }}
  advert_int 1
  nopreempt

  authentication {
    auth_type PASS
    auth_pass {{ vrrp_auth_pass }}
  }

  virtual_ipaddress {
    {{ vlan_vip }} dev {{ vlan_if }}
  }

  # Notify hooks control FIP bind/unbind and lelastic mode
  notify_master "/usr/local/sbin/keepalived-notify.sh master"
  notify_backup "/usr/local/sbin/keepalived-notify.sh backup"
  notify_fault  "/usr/local/sbin/keepalived-notify.sh fault"
  notify_stop   "/usr/local/sbin/keepalived-notify.sh stop"
}
