[Unit]
Description=Linode lelastic BGP announcer
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
# DO NOT add/remove the FIP here; keepalived-notify manages that.
# Start lelastic (primary on nat-a, secondary on nat-b)
ExecStart=/usr/local/bin/lelastic-wrapper.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
