[Unit]
Description=Linode lelastic BGP announcer
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
# DO NOT add/remove the FIP here; keepalived-notify manages that.
# Start lelastic (primary on nat-a, secondary on nat-b)
ExecStart=/usr/local/bin/lelastic -dcid {{ dcid | default("25") }} {% if hostvars[inventory_hostname].get("state","BACKUP") == "MASTER" %}-primary{% else %}-secondary{% endif %} -allifs

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
