{
  "linode_token": "REPLACE_ME",
  "root_pass": "REPLACE_ME_WITH_A_STRONG_PASSWORD",
  "grafana_admin_password": "REPLACE_ME",
  "natctl_object_storage_access_key": "REPLACE_ME",
  "natctl_object_storage_secret_key": "REPLACE_ME",
  "secrets_bundle_age_private_key": ""
}
