---
# roles/nat_dns/tasks/main.yml

- name: Ensure dnsmasq is installed
  ansible.builtin.package:
    name: dnsmasq
    state: present

# We use the public interface (pub_if) to learn which upstream DNS servers
# Linode/systemd-resolved has configured for this region.
- name: Get upstream DNS servers from systemd-resolved on public interface
  ansible.builtin.command: "resolvectl dns {{ pub_if }}"
  register: nat_dns_resolved
  changed_when: false

- name: Parse upstream DNS servers from resolvectl output
  ansible.builtin.set_fact:
    nat_dns_upstreams: "{{ nat_dns_resolved.stdout | regex_findall('\\b(\\d+\\.\\d+\\.\\d+\\.\\d+)\\b') }}"

- name: Fail if no upstream DNS servers were discovered
  ansible.builtin.fail:
    msg: >
      No upstream DNS servers could be parsed from 'resolvectl dns {{ pub_if }}'.
      Output was: {{ nat_dns_resolved.stdout | default('EMPTY') }}
  when: nat_dns_upstreams | length == 0

- name: Render dnsmasq config for NAT DNS forwarder
  ansible.builtin.template:
    src: nat-dns.conf.j2
    dest: /etc/dnsmasq.d/nat-dns.conf
    owner: root
    group: root
    mode: "0644"
  notify: Restart dnsmasq

- name: Ensure dnsmasq service is enabled and running
  ansible.builtin.service:
    name: dnsmasq
    state: started
    enabled: true
